{
    "extends": ["react-app", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^_"}]
    }
}